
.App {
  text-align: center;
  min-height: 100vh;

}

.app-storm {
  animation: change-color 4s forwards;
}

.sun {
  max-width: 10%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.sun-spin {
  animation: sun-spin infinite 20s linear;
}

.sun-slide-in {
  animation: sun-slide-in .5s ease-in forwards;
}

.sun-slide-out {
  animation: sun-slide-out .5s ease-in forwards;
}

.sun-slide-out {

}

.avatar {
  width: 55px;
  height: 55px;
  position: fixed;
  border-radius: 50%;
  bottom: 130px;
  z-index: 200;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: black solid 2px;
}

.cloud_container {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
}

.rain_conatainer {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.small_cloud {
  width: 25%;
  height: 25%;
}

.large_cloud {
  width: 50%;
  height: 50%;
}

.stick_figure {
  height: 250px;
  position: fixed;
  bottom: -12px;
  z-index: 100;
}

.ground {
  height: 100px;
  width: 100%;
  bottom: 0px;
  position: fixed;
  background-color: #2CCC29;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  animation: li
}

@keyframes sun-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes change-color {
  from {
    background-color: #A7D7FF;
  }
  to {
      background-color: #263E40;
    }
}

@keyframes sun-slide-out {
  from {
    transform: translateX(0%)
  }
  to {
      transform: translateX(-250px)
    }
}

@keyframes sun-slide-in {
  from {
    transform: translateX(-250px)
  }
  to {
      transform: translateX(0%)
    }
}
